html {
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border: 0;
}
  
.navbar li { 
  color: slategrey;
  font-size: 14px;
}

.navbar-collapse#myNavbar {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collapsing {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.collapse {
  border: 0;
}

.navbar .dropdown-menu::after{
  border:0;
}

.navbar-header .navbar-collapse {
  border: 0;
}

.navbar.navbar-default {
  padding: 10px 0;
  background: rgba(0, 0, 0, .1);
  border: none;
}
.navbar.navbar-default .navbar-nav > li > a,
.navbar.navbar-default .navbar-brand {
  color: slategrey;
}
.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

#name {
  color: white;
}

#center {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#kyrrContainer {
  width: 100px;
  height: 100px;
  position: relative;
}
 
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
 
#fast {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: coral;
  animation: square-to-circle 3s 0s infinite cubic-bezier(0.000, 0.030, 0.000, 0.000) alternate;
}
 
 
#slow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: coral;
  animation: square-to-circle 11s 0s infinite cubic-bezier(0.000, 0.030, 0.000, 0.000) reverse;
}

.panel {
  min-width: 80%;
  height: 75%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -300%;
  position: absolute;
  background: #000;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
  z-index: 11;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  /*animation-name: colorTransition;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;*/
}


.panel:target {
  margin-top: 0%;
  background-color: #ffcb00; 
}

.collapse::after {
  content: " \0000a0 ";
}

.transitionedText p {
  font-size: 18px;
  padding: 10px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  background: black;
  margin: 10px 0px 0px 10px;
}

.transitionedText li {
  list-style-type: hiragana;
}

.content h2 {
  font-size: 110px;
  padding: 10px 0px 20px 0px;
  margin-top: 52px;
  color: #fff;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

#yin-yang {
  width: 96px;
  height: 48px;
  background: #eee;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}

#yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid black;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

#yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  border: 18px solid #eee;
  border-radius:100%;
  width: 12px;
  height: 12px;
}


/*.content {
  right: 40px;
  left: 280px;
  top: 0px;
  position: absolute;
  padding-bottom: 30px;
}*/



@keyframes colorTransition {
  0% {
    background-color: #398564;
  }
  100% {
    background-color: #52bf90;
  }
}
 
@keyframes square-to-circle {
  0%{
    border-radius: 50%;
   /*background: #52bf90;*/
    background-color: transparent;
    transform: rotate(0deg);
  }
  12%{
    border-radius: 75%;
    background: #49ab81;
    transform: rotate(45deg);
  }
  25%{
    border-radius: 50% 0 0 50%;
    /*background: #419873;*/
    background-color: transparent;
    transform: rotate(90deg);
  }
  37%{
    border-radius: 50% 75% 30% 100%;
    background: #398564;
    transform: rotate(135deg);
  }
  50%{
    border-radius: 50% 50% 0 50%;
    background: #317256;
    transform: rotate(180deg);
  }
  62%{
    border-radius: 75% 50% 0 100%;
    background: #398564;
    transform: rotate(225deg);
  }
  75%{
    border-radius: 50% 50% 50% 0;
    background: #419873;
    transform: rotate(270deg);
  }
  87%{
    border-radius: 75% 75% 50% 100%;
    background: #49ab81;
    transform: rotate(315deg);
  }
  100%{
    border-radius: 100%;
    background: #52bf90;
    transform: rotate(360deg);
  }
}

















